<html>

<head>
    <title>Mi sitio!</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <header>
        <p>Mi sitio</p>
        <nav>
            <ul>
                <li>
                    <a href="/peliculas/crear">crear Peli</a>
                </li>
                <li>
                    <a href="/peliculas">ver Pelis</a>
                </li>
            </ul>
        </nav>
    </header>
</body>

</html>